body {
  background-color: white;
  width: 100%;

}

.header-container {
  border: 0.1rem solid;
  margin: 10px 10px;
  width: 95%;
  display: flex;
}
hr {
  color: black;
  
  
}
img {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
}
.company-details {
  min-width: min-content;
  }

#details-text {
  margin-right: 5px;
  margin: 0 auto;
  

}
.umoja-link {
  color: blue;
}
.lab-report-text {
  display: flex;
  align-items: center;
  color: navy;
  min-width: 20%;
  font-weight: bold;
  font-size: 20px;
}
.lab-details {
  
}
#lab-detials-text {
  margin: 0 auto;
}
.hr2 {
  margin: 0;
}
