body {
  background-color: white;
  width: 100%;

}

.header-container {
  border: 0.1rem solid;
  margin: 10px 10px;
  width: 100%;
  display: flex;
}
hr {
  color: black;
  
  
}
img {
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
}
.company-details {
  min-width: min-content;
  }

#details-text {
  margin-right: 5px;
  margin: 0 auto;
  font-size: 0.8em;
  
  

}
.umoja-link, .email-link {
  color: blue;
}
.lab-report-text {
  display: flex;
  align-items: center;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  width: 45%;
  margin: 0 auto;
  justify-content: center;
}
.lab-details {
  width: 30%;
  
  
}
#lab-detials-text {
  margin: 0 auto;
  font-size: 0.8em;

 
}
.hr2, .hr1 {
  margin: 2px;
}
.hr1 {
}

