.container {
  margin-left: 60px;
  display: flex;
  width: 85%;
  margin-top: 0;
  margin-bottom: 0;
}
.test-details {
  width: 70%;
  font-weight: bold;
  font-size: 0.8em

  
}
.img img {
  width: 300px;
  height: 300px;
}
